:root {
    --clr-border-primary: rgb(1, 0, 14);
}

@font-face {
    font-family: "Azonix";
    src: url('font/Azonix.otf');
    src: local('Azonix'), url('font/Azonix.otf') format('otf'), url('font/Azonix.otf') format('truetype');
}

/* SOFT RESET and NO USER SELECTION */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

/* ---------------------------------------------- */
/*! -------------- GERAL SECTION ---------------- */
/* ---------------------------------------------- */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer {
    display: none;
}

.phoneContainer {
    min-width: 95vw;
    max-width: 90vw;
    height: 97vh;
    background: linear-gradient(to bottom left, rgb(86, 1, 112), rgba(223, 81, 45, 0.87));
    border: 7px solid var(--clr-border-primary);
    border-radius: 35px;
    box-shadow: inset 0 9px 5px 0px rgba(255, 255, 255, 0.062), inset 0 -9px 0px 0px rgba(255, 255, 255, 0), inset 12px 0 12px -4px rgba(255, 255, 255, 0.479), inset -12px 0 15px -4px rgba(255, 255, 255, 0.137);
}

/* ---------------------------------------------- */
/*! ---------------- TOP SECTION ---------------- */
/* ---------------------------------------------- */

.topSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin: 5px 20px;
    color: white;
    min-height: 1.2em;
    max-height: 1.2em;
    gap: 5px;
}

.hourDisplay {
    margin-top: 5px;
    margin-left: 1.5em;
    margin-right: auto;
}

.internetDisplay, .batteryDisplay {
    width: 25px;
    height: 30px;
    margin-top: 5px;
}

.wifiDisplay {
    width: 15px;
    height: 15px;
    margin-top: 5px;
}

.cameraContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    background-color: var(--clr-border-primary);
    width: 34vw;
    height: 1.7em;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 0px 0px 25px 25px;
    margin-top: -4px;
    box-shadow: inset 0 9px 5px 0px rgba(255, 255, 255, 0.048), inset 0 -4px 6px 0px rgba(255, 255, 255, 0.041);
}

.phoneSpeaker {
    margin-top: -3px;
    width: 50px;
    height: 5px;
    border-radius: 6px; 
    background-color: rgba(71, 71, 71, 0.568);
    box-shadow: inset 0 -3px 1px 0px rgba(158, 158, 158, 0.568), inset 3px 0px 1px 0px rgba(71, 71, 71, 0.568);
}

.cameraLen {
    margin-top: -3px;
    background-color: rgba(2, 0, 58, 0.712);
    box-shadow: inset 0 3px 5px 0px rgba(255, 255, 255, 0.24);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 3px;
    right: 65px;
}

/* ---------------------------------------------- */
/*! -------------- DISPLAY SECTION -------------- */
/* ---------------------------------------------- */

.calcDisplayContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background: linear-gradient(to bottom,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.11) 50%,rgba(0, 0, 0, 0.13) 100%);
    border-radius: 0px 0px 7px 7px;
    min-height: 11em;
    padding: 15px;
}

.calcDisplayContainer p {
    font-size: 2.2em;
    color: white;
}

/* This is important to keep the top number always on top and not */
/* go down if there is no bottom number in the display */
.bottomNumberContainer, .topNumberContainer {
    min-height: 40px;
}

#topNumberDisplay {
    font-size: 1.6em;
}

#bottomNumberDisplay {
    font-size: 2.7em;
}

/* ---------------------------------------------- */
/*! -------------- BUTTONS SECTION -------------- */
/* ---------------------------------------------- */

.btnsGridContainer {
    display: grid;
    justify-content: center;
    height: 64vh;
    gap: 3px;
    grid-template-columns: repeat(4, 20vmin);
    grid-template-rows: repeat(5, 1fr);
    border-radius: 0 0 15px 15px;
    padding: 5px 5px;
    box-shadow: inset 0 4px 5px 0px rgba(185, 185, 185, 0.034);
}

button {
    font-size: 1.75em;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 10px;
    /* Prevents the blue square to appear when touch a button */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

button:active {
    background-color: rgba(223, 223, 223, 0.555);
}

button:hover {
    background-color: rgba(255, 255, 255, 0.158)
}

#gitHub-img {
    margin-top: 5px;
    width: 60%;
    height: auto;
}

.btn-clear, .btn-equal {
    color:rgb(245, 134, 107);
    font-size: 2.1em;
}

.btn-dot, .btn-plus, .btn-minus, .btn-equal {
    font-size: 1.9em;
}

.btn-porcent, .btn-times {
    font-size: 1.8em;
}



/* MOBILE 380px */
@media only screen and (min-width: 23.75em) {
    .calcDisplayContainer {
        min-height: 12em;
    }

    .btnsGridContainer {
        height: 68vh;
    }

    #topNumberDisplay {
        font-size: 1.6em;
    }
    
    #bottomNumberDisplay {
        font-size: 2.8em;
    }
    
}

/* TABLET 768px */
@media only screen and (min-width: 768px) {
    body {
        height: 100vh;
        background: linear-gradient(to bottom left, rgb(27, 8, 94), rgb(196, 138, 123),rgb(143, 114, 247));
    }

    .topNumberContainer {
        font-size: 0.6em;
    }

    .bottomNumberContainer {
        font-size: 0.7em;
    }

    .phoneContainer {
        min-width: 40vw;
        max-width: 40vw;
        min-height: 650px;
        max-height: 52vh;
    }

    .calcDisplayContainer p {
        font-size: 2.5em;
    }
    
    .btnsGridContainer {
        height: 0px;
        grid-template-columns: repeat(4, 10vmin);
        grid-template-rows: repeat(5, 10vmin);
    }

    .cameraContainer {
        width: 13vw;
        height: 1.7em;
    }
    
    .phoneSpeaker {
        width: 50px;
        height: 5px;
    }
    
    .cameraLen {
        margin-top: -3px;
        width: 12px;
        height: 12px;
    }

    #topNumberDisplay {
        font-size: 1.9em;
    }

    #bottomNumberDisplay {
        font-size: 3.3em;
    }

    .btn-clear, .btn-equal {
        font-size: 2.1em;
    }
    
    .btn-dot, .btn-plus, .btn-minus, .btn-equal {
        font-size: 2.2em;
    }

    .btn-delete img, .btn-divide img {
        margin-top: -3px;
    }

    #gitHub-img {
        margin-top: 5px;
        width: 50%;
        height: auto;
    }
}

/* DESKTOP SMALL 1024px */
@media only screen and (min-width: 64em) {
    body {
        height: 100vh;
        background-image: linear-gradient(to bottom left, rgb(27, 8, 94), rgb(196, 138, 123),rgb(143, 114, 247));
        background-image: no-repeat;
    }

    .topNumberContainer {
        font-size: 0.9em;
    }

    .bottomNumberContainer {
        font-size: 0.95em;
    }

    footer {
        display: block;
    }

    h1 {
        font-family: Azonix;
        font-size: 0.75em;
        margin: 15px;
    }
    
    a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.726);
        text-shadow: 1px 0px 3px rgb(32, 32, 32);
        transition: all 0.5s;
    }
    
    a:hover {
        text-shadow: 1px 0px 2px black;
        color: rgba(255, 200, 255, 0.596);
    }

    .phoneContainer {
        min-width: 335px;
        max-width: 335px;
        height: 700px;
    }

    .calcDisplayContainer p {
        font-size: 2.5em;
    }
    
    .btnsGridContainer {
        height: 0px;
        grid-template-columns: repeat(4, 4.8em);
        grid-template-rows: repeat(5, 4.7em);
    }

    .cameraContainer {
        top: 0;
        margin-top: -5px;
        width: 105px;
    }
    
    .phoneSpeaker {
        margin-top: -3px;
        width: 50px;
        height: 5px;
        border-radius: 6px; 
        background-color: rgba(71, 71, 71, 0.568);
        box-shadow: inset 0 -3px 1px 0px rgba(158, 158, 158, 0.568), inset 3px 0px 1px 0px rgba(71, 71, 71, 0.568);
    }
    
    .cameraLen {
        margin-top: -3px;
        width: 12px;
        height: 12px;
        top: 3px;
        right: 65px;
    }

    #topNumberDisplay {
        font-size: 1.5em;
    }

    #bottomNumberDisplay {
        font-size: 2.6em;
    }

    button {
        font-size: 1.55em;
    }

    .btn-clear {
        font-size: 2em;
    }
    
    .btn-dot, .btn-plus, .btn-minus, .btn-equal {
        font-size: 1.9em;
    }

    .btn-delete img, .btn-divide img {
        width: 70px;
        margin-top: 3px;
    }

    .btn-times {
        font-size: 1.6rem;
    }

    #gitHub-img {
        margin-top: 5px;
        width: 50%;
        height: auto;
    }
}

/* DESKTOP LARGE 1300px */
@media only screen and (min-width: 1300px) {

    #topNumberDisplay {
        font-size: 1.2em;
    }

    #bottomNumberDisplay {
        font-size: 2.2em;
    }

    .hourDisplay {
        margin-top: 3px;
        margin-left: 1em;
    }
    
    .internetDisplay, .batteryDisplay {
        width: 22px;
        height: 27px;
        margin-top: 3px;
    }
    
    .wifiDisplay {
        width: 12px;
        height: 12px;
        margin-top: 3px;
    }

    .phoneContainer {
        min-width: 290px;
        max-width: 290px;
        max-height: 550px;
        min-height: 550px;
    }

    .btnsGridContainer {
        height: 0px;
        grid-template-columns: repeat(4, 4.2em);
        grid-template-rows: repeat(5, 3.5em);
    }

    .cameraContainer {
        width: 90px;
        top: 0;
        margin-top: -5px;
        height: 1.4em;
    }

    .phoneSpeaker {
        margin-top: -3px;
        width: 35px;
        height: 4px;
    }
    
    .cameraLen {
        width: 8px;
        height: 8px;
    }

    button {
        font-size: 1.3em;
    }
    
    .btn-dot, .btn-plus, .btn-minus, .btn-equal, .btn-clear {
        font-size: 1.6em;
    }
    
    .btn-porcent {
        font-size: 1.3em;
    }

    .btn-times {
        font-size: 1.3em;
    }

    .btn-delete img, .btn-divide img{
        width: 55px;
        margin-top: 0px;
    }
}