:root {
    --clr-border-primary: rgb(1, 0, 14);
}


/* SOFT RESET and NO USER SELECTION */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

/* ---------------------------------------------- */
/*! -------------- GERAL SECTION -------------- */
/* ---------------------------------------------- */

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phoneContainer {
    min-width: 95vw;
    max-width: 90vw;
    height: 97vh;
    background: linear-gradient(to bottom left, rgb(86, 1, 112), rgba(223, 81, 45, 0.87));
    border: 7px solid var(--clr-border-primary);
    border-radius: 35px; /* TODO CHECK THE RIGHT UNIT TO USE */
}

/* ---------------------------------------------- */
/*! ---------------- TOP SECTION ---------------- */
/* ---------------------------------------------- */

.topSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin: 5px 20px;
    color: white;
    min-height: 1.2em;
    max-height: 1.2em;
    gap: 5px;
}

.hourDisplay {
    margin-top: 5px;
    margin-left: 1.5em;
    margin-right: auto;
}

.internetDisplay, .batteryDisplay {
    width: 25px;
    height: 30px;
    margin-top: 5px;
}

.wifiDisplay {
    width: 15px;
    height: 15px;
    margin-top: 5px;
}

.cameraContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    background-color: var(--clr-border-primary);
    width: 34vw;
    height: 1.7em;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 0px 0px 25px 25px;
    margin-top: -4px;
}

.phoneSpeaker {
    margin-top: -3px;
    width: 50px;
    height: 5px;
    border-radius: 6px; 
    background-color: rgba(71, 71, 71, 0.568);
    box-shadow: inset 0 -3px 1px 0px rgba(158, 158, 158, 0.568), inset 3px 0px 1px 0px rgba(71, 71, 71, 0.568);
}

.cameraLen {
    margin-top: -3px;
    background-color: rgba(2, 0, 58, 0.712);
    box-shadow: inset 0 3px 5px 0px rgba(255, 255, 255, 0.24);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 3px;
    right: 65px;
}

/* ---------------------------------------------- */
/*! -------------- DISPLAY SECTION -------------- */
/* ---------------------------------------------- */

.calcDisplayContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background: linear-gradient(to bottom,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.11) 50%,rgba(0, 0, 0, 0.13) 100%);
    border-radius: 0px 0px 7px 7px;
    min-height: 11em;
    padding: 15px;
}

.calcDisplayContainer p {
    font-size: 2.2em;
    color: white;
}

/* This is important to keep the top number always on top and not */
/* go down if there is no bottom number in the display */
.bottomNumberContainer, .topNumberContainer {
    min-height: 40px;
}

/* ---------------------------------------------- */
/*! -------------- BUTTONS SECTION -------------- */
/* ---------------------------------------------- */

.btnsGridContainer {
    display: grid;
    justify-content: center;
    height: 64vh;
    gap: 3px;
    grid-template-columns: repeat(4, 20vmin);
    grid-auto-rows: repeat(5, 1fr);
    border-radius: 0 0 15px 15px;
    padding: 5px 5px;
}

button {
    font-size: 1.75em;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    transition: all 1s;
    border-radius: 10px;
    /* Prevents the blue square to appear when touch a button */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

button:active {
    background-color: rgba(223, 223, 223, 0.384);
}

/* MOBILE 380px */
@media screen and (min-width: 23.75em) {
    .calcDisplayContainer {
        min-height: 12em;
    }

    .btnsGridContainer {
        height: 68vh;
    }
}